<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ff584670-f5a4-42b9-a6b0-e9d240754674/resourceGroups/cs3750/providers/Microsoft.Web/sites/TooDumbToLive</ResourceId>
    <ResourceGroup>cs3750</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://toodumbtolive.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>toodumbtolive.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TooDumbToLive</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TooDumbToLive</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>